/* line 3, ../scss/style.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 8, ../scss/style.scss */
html, body {
  overflow-x: hidden;
  font-weight: 300;
}

/* line 13, ../scss/style.scss */
body {
  padding-top: 56px;
}

/* line 17, ../scss/style.scss */
.bg-purple {
  background-color: #6f42c1;
}

/* line 21, ../scss/style.scss */
table a {
  color: #444;
  margin: 2px;
  font-size: 22px;
}
/* line 25, ../scss/style.scss */
table a:hover {
  color: #6f42c1;
  transition: color .2s ease-in-out;
}

/* line 31, ../scss/style.scss */
.btn-info {
  color: #fff;
  margin-bottom: 15px;
}

/* line 37, ../scss/style.scss */
.btn:hover {
  background: #6f42c1;
  transition: all .2s ease-in-out;
  border-color: #6f42c1;
}

/* line 46, ../scss/style.scss */
.modal.modal-ajax .modal-header {
  background: #6f42c1;
  color: #fff;
}
/* line 52, ../scss/style.scss */
.modal form {
  width: 92%;
  margin: 20px;
}
/* line 56, ../scss/style.scss */
.modal form label {
  font-weight: 600;
  margin-bottom: 7px;
}
/* line 60, ../scss/style.scss */
.modal form input, .modal form select, .modal form texarea {
  font-weight: 300;
}

/* line 66, ../scss/style.scss */
.popup.message {
  z-index: 99999;
  position: fixed;
  bottom: 0;
  left: 0;
  font-weight: 100;
}

/* line 73, ../scss/style.scss */
.load {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  text-indent: -9999em;
  display: none;
}
/* line 83, ../scss/style.scss */
.load .loader {
  position: fixed;
  top: 50%;
  left: 50%;
  color: #6f42c1;
  font-size: 50px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: -25px 0 0 -25px;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}

@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* line 167, ../scss/style.scss */
.main-car {
  color: #6f42c1;
}
